 <html>
  <head>
    <title>Alex's backyard</title>
    <link rel="stylesheet" href="/style.css"> 
    <script src="client.js"></script>
  </head>
  <article>
    <header>
      <button type="button" onclick= "changecolor()">Click me to change background color</button>      
      <h1>Alex's backyard</h1>
      <p>Hi! My name is Alex, currently a computer engineering student. This is going to be my WebApp showing a bit of my personal stories and software projects!    </p>
    </header>    
    <body>
      <h2>About me</h2>
      <img src = "https://scontent.fyvr4-1.fna.fbcdn.net/v/t1.0-9/60809165_10211818313247125_1494538951313063936_n.jpg?_nc_cat=105&_nc_ohc=TMDKfNYMyFUAX9Q3AyD&_nc_ht=scontent.fyvr4-1.fna&oh=67c73d64f01a90510a6a4a9dbe102727&oe=5ED630A4" hspace="5">
      <p>As an international student studying aboard from Taiwan to Canada, passionate in technology programming and web development, I am extremely excited to produce transcendent projects to the world. Through the computer engineering courses I have taken, I've gained a deeper understanding of various data structures, efficient software developments, and testing methodologies. Below is the link refering to my personal Github page with my software projects.  </p>
      <h3> More links </h3>
      ● <a href="https://github.com/alexliu42?tab=repositories">My Github</a>
    </body> 
  </article>
</html>
