<!DOCTYPE html>
<html lang="en">
  <h3>
    Please fill in the form to generate your user card!
  </h3>
  <form action = "profile" method="post">
    <input type = "text" name = "first_Name" placeholder="First name"><br>
    <input type = "text" name = "last_Name" placeholder="Last name"><br>
    <input type = "text" name = "location" placeholder="Location"><br>
    <input type = "text" name = "phone_Number" placeholder="Phone number"><br>
    <input type = "text" name = "email" placeholder="Email"><br>
    <input type = "submit" value = "Submit">
  </form>

</html>